.App {
  display: flex;
  position: absolute;
  padding: 15px 15px 45px 15px;
  min-width: 800px;
  background-color: steelblue;
}

.App::before {
  content: "Keyboard";
  position: absolute;
  top: -17%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.note {
  border-radius: 0 0 3px 3px;
}

.note:focus {
  outline: none;
}

.syllable {
  box-shadow: 0 0 0 1px black;
  width: 40px;
  height: 225px;
  background-color: white;
  z-index: 1;
}

.sharp {
  background: black;
  width: 25px;
  height: 140px;
  margin: 0 -12.5px;
  z-index: 2;
  border-top: none;
}

.note > p {
  font-style: italic;
  position: absolute;
  user-select: none;
}

.sharp > p {
  top: 233px;
  transform: translateX(-9px);
}

.syllable > p {
  top: 250px;
}

.songs {
  box-shadow: 0 0 0 1px black;
  background-color: lightsteelblue;
  font-size: 2rem;
  width: 125px
}
